In [1]:
# other libraries 
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [12]:
path = './data/kddcup15/train/enrollment_train.csv'
enrollment = pd.read_csv(path)

In [13]:
enrollment.head()

,enrollment_id,username,course_id
0,1,9Uee7oEuuMmgPx2IzPfFkWgkHZyPbWr0,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
1,3,1qXC7Fjbwp66GPQc6pHLfEuO8WKozxG4,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
2,4,FIHlppZyoq8muPbdVxS44gfvceX9zvU7,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
3,5,p1Mp7WkVfzUijX0peVQKSHbgd5pXyl4c,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
4,6,dpK33RH9yepUAnyoywRwBt1AJzxGlaja,AXUJZGmZ0xaYSWazu8RQ1G5c76ECT1Kd

In [5]:
enrollment.shape

(120542, 3)

In [14]:
path = './data/kddcup15/train/log_train.csv'
log_train = pd.read_csv(path)

In [24]:
log_train.shape[0]/enrollment.shape[0]

67.67165801131556

In [28]:
log_train[log_train['enrollment_id']==4]

,enrollment_id,time,source,event,object
602,4,2014-06-15T01:44:10,server,navigate,Oj6eQgzrdqBMlaCtaq1IkY6zruSrb71b
603,4,2014-06-15T01:44:13,server,access,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl
604,4,2014-06-15T01:44:13,server,access,qxvBNYTfiRkNcCvM0hcGwG6hvHdQwnd4
605,4,2014-06-15T01:44:35,server,access,LPxTHNUu4a88wyAL6vY8ebFrjaaySuKo
606,4,2014-06-15T02:05:21,server,access,ep57uq0N5Fxg1Irgy68ROj8HOuD4xbsi
...,...,...,...,...,...
696,4,2014-07-02T11:32:32,server,navigate,vPJ7ada7OqDfvYXMjnTQC3NExmLvWiUL
697,4,2014-07-02T11:32:33,browser,page_close,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl
698,4,2014-07-02T11:32:39,server,access,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl
699,4,2014-07-02T11:32:39,server,access,W2Za6xuXb0ETxjM50i4un55AGtcvHbBP
700,4,2014-07-02T11:32:47,browser,page_close,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl

In [38]:
path = './data/kddcup15/train/truth_train.csv'
truth_train = pd.read_csv(path, header=None)

In [40]:
truth_train.head()

   0  1
0  1  0
1  3  0
2  4  0
3  5  0
4  6  0